Olá,
<p>
{{from}} pretende partilhar percursos consigo em {{hostname}}.
</p>

<p>
Pode aceder aos mesmos sem ter uma conta seguindo esta ligação: <a href="{{link}}">{{link}}</a>
</p>

<p>
Se, mais tarde, pretender gerir os seus próprios percursos, ou aceder aos percursos que são partilhados consigo sem necessidade de uma ligação, poderá criar uma conta gratuitamente.
</p>

<p>Este email é enviado por iniciativa de {{from}}, para partilhar percursos consigo; não lhe enviaremos qualquer outro email posteriormente relativo a esta partilha.</p>