Ciao,
<p>
{{from}} vuole condividere dei percorsi con te su {{hostname}}.
</p>

<p>
Puoi accedervi senza avere un account seguendo questo link: <a href="{{link}}">{{link}}</a>
</p>

<p>
Se in seguito desideri gestire i tuoi percorsi, o accedere ai percorsi condivisi con te senza bisogno di un link, potrai creare un account gratuitamente.
</p>

<p>Questa email è inviata su iniziativa di {{from}}, per condividere dei percorsi con te; non ti invieremo altre email in seguito riguardo a questa condivisione.</p>