Hola,
<p>
{{from}} quiere compartir rutas contigo en {{hostname}}.
</p>

<p>
Puedes acceder a ellas sin tener una cuenta siguiendo este enlace: <a href="{{link}}">{{link}}</a>
</p>

<p>
Si más adelante quieres gestionar tus propias rutas, o acceder a las rutas que se comparten contigo sin necesidad de un enlace, podrás crear una cuenta gratis.
</p>

<p>Este correo se envía por iniciativa de {{from}}, para compartir rutas contigo; no te enviaremos ningún otro correo más adelante sobre este elemento compartido.</p>