Bonjour,
<p>
{{from}} souhaite partager des parcours avec vous sur {{hostname}}.
</p>

<p>
Vous pouvez y accéder sans avoir de compte en suivant ce lien: <a href="{{link}}">{{link}}</a>
</p>

<p>
Si par la suite vous souhaitez gérer vos propres parcours, ou accéder aux parcours qui sont partagés avec vous sans besoin de lien, vous pourrez créer un compte gratuitement.
</p>

<p>Ce mail est envoyé à l'initiative de {{from}}, afin de vous partager des parcours, nous ne vous enverrons pas d'autre mail par la suite concernant ce partage.</p>